.Tetris {
  background-color: #e0f8d0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.canvasContainer {
  display: flex;

  h1 {
    padding: 10px;
    color: #081820;
  }
}

.canvas {
  border: 8px solid #081820;
  // transform: scale(2);
}

.next {
  border: 8px solid #081820;
  margin-left: 10px;
}

.start {
  position: fixed;
  left: 20px;
  bottom: 20px;
}
